.services__main {
  width: 100%;
  background: transparent;
}

.services__body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.services__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
}

.services__title {
  font-size: var(--font-size-title-big);
  font-weight: bold;
  color: var(--color-title);
}

.services__subtitle {
  max-width: 420px;
  font-size: var(--font-size-main);
  color: var(--color-main);
}

.services__content{
  margin-top: 2.5rem;
}

.services__clider{
  margin-top: 1.5rem;
}



