
 
  .contact__block{
    display: grid;
    grid-template-columns: repeat(2 , 30%);
    justify-content: space-around;
    margin: 2rem;
  }
 

  
  .contact__information {
    display: inline-flex;
    margin: 2rem;
  }

  .contact__icon{
    font-size: 3rem;
    margin-right: 1rem;
    color: var(--color-title)
  }
  
  .contact__title {
    font-size:var(--font-size-title);
   
  }
  
  .contact__subtitle{
    font-size:var(--font-size-subtitle);

  }
  
  .social__link{
    display: inline-flex;
    font-size:var(--font-size-title);

  }
  .social__link li a{
    margin-right: 3rem;
    color:var(--color-main);
    font-size: 2rem;
}
.social__link li a:hover{
    color: var(--color-hover);
}



@media (max-width: 768px) {
  .contact__block{
    
    grid-template-columns: repeat(1 , 100%);
   justify-items: center;
  }
}

  