

.contact__container {
    row-gap: 3rem;
    display: flex;
    justify-items: center;
  }
  
  .contact__information {
    display: flex;
    margin-bottom: var(--mb-2);
  }
  
  .contact__icon {
    font-size: 1.5rem;
    color: red;
    margin-right: var(--mb-0-75);
  }
  
  .content__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
  }
  
  .contact__subtitle {
    font-size: var(--small-font-size);
    color: red;
  }
  
  .contact__content {
    background-color:var(--second-bg-color);
    border-radius: 0.5rem;
    padding: 0.75rem 1rem 0.25rem;
  }
  
  .contact__label {
    font-size: var(--smaller-font-size);
    color: var(--title-color);
  }
  
  .contact__input {
    width: 100%;
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: 0.25rem 0.5rem 0.5rem 0;
  }