
  .contact__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* background: url("https://anadea.info/uploads/image_attachment/image/2878/route_map_in_uber_like_app.jpg"); */

   
    }
  .contact__block{
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }
 

  
  .contact__information {
    display: inline-flex;
    margin: 2rem;
  }

  .contact__icon{
    font-size: 3rem;
    margin-right: 1rem;
    color: var(--color-title)
  }
  
  .contact__title {
    font-size:var(--font-size-title);
   
  }
  
  .contact__subtitle{
    font-size:var(--font-size-subtitle);

  }
  
  .social__link{
    display: inline-flex;
    font-size:var(--font-size-title);

  }
  .social__link li a{
    margin-right: 3rem;
    color:var(--color-main);
    font-size: 2rem;
}
.social__link li a:hover{
    color: var(--color-hover);
}


  
  
  