@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700|Oswald:400,500,600,700');

:root {
   /* --bg-color:#45484d;
   --second-bg-color:#323946; */

   /* --text-color:#6cce88;
   --text-color-medium:rgb(44, 218, 160);
   --text-color-active:rgb(157, 218, 67);
   --text-color-active-soft:#dbf059;
   --main-color:rgb(208, 236, 229); 
   --color-white:#fff;
   */

  --color-main:#aaeba8;
  --color-white:#d0ece5;
  --color-title:#6cce88;
  --color-first:#2cdaa0;
  --color-second:#7af17a;

  --color-btn:#01C38D;
  --color-active:#7eaa5b;
  --color-hover:#dbf059;
  
  --bg-main:#4b4a4e;
  --bg-main:#3e3d38ec;
  /* --bg-main:#45484d; */
  --bg-first:#45484d;
  --bg-second:#323946;
  --bg-block:#3e3d38ec;
  --bg-shadow:rgba(11, 209, 126, 0.25);

    /* --gRADIENT:#bcdc49 #1b5cfd; */
  



   /* ==============plate================ */
   /* color green */
    --green1:#33ffc2;
    --green2:#33ff66;
      --green3:#7af17a;
      --green4:#dbf059;
      --green5:#6cce88;
      --green6:#2cdaa0;
    --green7:#9dda43;
    --green8:#B2FFC6;
    --green9:#87F8AE;
    --green10:#42D49C;
      --green11:#01C38D;
      --green12:#aaeba8;
    --green13:#00A68A;
    --green14:#aaafff;
    --green15:#5c6b3d;
    --green16:#3c5148;
    --green17:#6b8e4e;
    --green18:#b4ddb4;
    --green19:#aaafff;
    --green20:#aaafff;



    /* --gRADIENT:#bcdc49 #1b5cfd; */
    
    
    /* color gray */

    --gray1:#6b6e70;
      --gray2:#45484d;
    --gray3:#23272A;
    --gray4:#1f242d;
      --gray5:#323946;
    --gray6:#d0ece5; 
    --gray7:#6b6e70;
      --gray8:#4b4a4e;
    --gray9: #9fa1ad;
    --gray10:#5c5e60;
    --gray11:#5b595b;
      --gray12:#3e3d38;
    
    
   
/*========== Font and typography ==========*/
--body-font: "Poppins", sans-serif;


--big-font-size: 7rem;
--h1-font-size: 3rem;
--h2-font-size: 2rem;
--h3-font-size: 1.125rem;
--normal-font-size: 0.938rem;
--small-font-size: 0.813rem;
--smaller-font-size: 0.75rem;

/*========== Font weight ==========*/
--font-medium: 500;
--font-semi-bold: 600;

/*========== Margenes  ==========*/

--mb-0-25: 0.25rem;
--mb-0-5: 0.5rem;
--mb-0-75: 0.75rem;
--mb-1: 1rem;
--mb-1-5: 1.5rem;
--mb-2: 2rem;
--mb-2-5: 2.5rem;
--mb-3: 3rem;

/*========== z index ==========*/
--z-tooltip: 10;
--z-fixed: 100;
--z-modal: 1000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

 }

 html{
    font-size: 62.5%;
    overflow-x:hidden;

 }

 body{
    background: var(--bg-main);
    color: var(--color-main);
 }


 /*==================== LAYOUT ====================*/
 .section {
  padding: 2rem 0 4rem;
  min-height: 100vh;
 
}

.container {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  display: block;
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-2);
  color: var(--color-white);
}

.section__title,
.section__subtitle {
  text-align: center;
}

