.button {
    display: inline-block;
    background-color: var(--text-color-medium);
    color: #ffff;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: var(--normal-font-size);
    z-index: var(--z-fixed) ;
    transition: all 0.3s;
  }
  
  .button:hover {
    background-color: var(--text-color-active);
  }
  .button.active{
    background:var(--green1);
    color: black;
  }