.button {
    display: inline-block;
    background-color: var(--color-btn);
    color:var(--color-white);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: var(--normal-font-size);
    z-index: var(--z-fixed) ;
    transition: all 0.3s;
  }
  
  .button:hover {
    background-color: var(--color-hover);
    color: black;
  }
  .button.active{
    background:var(--color-active);
    
  }