.about__container {
  max-width: 85%;
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  background: var(--bg-block);
  padding: 2rem;
  border-radius: 30px;
}
.about__toggle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 0 2rem;
}

.about__toggle_title {
  font-size: var(--font-size-title);
  margin: 0 0.5rem 1rem;
}
.about__img_container {
  max-width: 35%;
}
.about__img {
  border-radius: 40%;
}
.about__data {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 0 2rem;
}

@media (max-width: 670px) {
  .about__img {
    display: none;
  }
}
