.progress__container{
    width: 100%;
    border-radius: 2rem;
    padding: .1rem;
    background: linear-gradient(-30deg,  #4c4d46, #168ec5);
}

.progress__bar{
    height: .5rem;
    background: linear-gradient(-30deg, #b97535, #a2f06e);
    border-radius: 2rem;
    text-align: center;
    color:black;
   
}