/* https://coreui.io/react/docs/components/collapse/ */



.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
  cursor: pointer;
  background: var(--bg-block-first);
  padding: .1rem 1rem .1rem 2rem;
  border-radius: 2rem;
}

.skills__title {
  font-size: var(--font-size-subtitle);
 
}

.skills__subtitle {
  font-size: var(--font-size-sm);
  color: var(--color-white);
}

.skills__arrow {
  margin-left: auto;
  transition: 0.4s;
  font-size: 2rem;
  color:var(--color-active)
}

.skills__list {
  row-gap: 1.5rem;
  padding: 1rem 1rem 0 3rem;
  margin-bottom: 1rem;
}
.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: .2rem;
}

.skills__name {
  font-size: var(--font-size-sm);
  color: var(--color-white);
}

.skills__logo_fa {
  font-size: var(--font-size-title);
  padding: 0 15% 1rem;
  color: var(--color-title);
  display: flex;
  justify-content: space-around;
}

.skills__travel {
  padding: 0 5%;
}

.progress__color{
  color: var(--color-title);
  background: linear-gradient(-30deg,  #4c4d46, #168ec5);
}




