
.about__container {
  max-width: 70%;
  display: flex;
  justify-content: center;
  column-gap: 5rem;
  margin-top: 4rem;
  background: var(--bg-block);
  padding: 3rem;

  border-radius: 30px;
}

.about__list{
  margin-bottom: 7%;
}
.about__list li{
  list-style: disc inside;
  color: var(--color-white);
}

.about__img {
  width: 30%;
  height: 25%;
  border-radius: 15% 30%;
  
  /* box-shadow: 7px 8px 30px var(--bg-shadow);; */
}
.about__data {
  margin-top: 8%;
}

.about__description {
  text-align: initial;
  margin-bottom: 2.5rem;
  color: var(--color-white);
}

.about__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.about__info_title {
  font-size: var(--font-size-subtitle-big);
  color: var(--color-title);
}

.about__info_name {
  font-size: var(--font-size-sm);
  color: var(--color-white);
}

.about__info_title,
.about__info_name {
  display: block;
  text-align: center;
}

.about__buttons {
  display: flex;
  justify-content: center;
}
