
 
 .contact__block{
   display: grid;
   grid-template-columns: repeat(2 , minmax(0, 1fr));
   gap: 1.5rem 3rem;
   margin: 2rem auto 1.5rem;
   width: 100%;
 }

  /* уменьшить нижний отступ последней секции,
     чтобы не было лишнего пустого пространства */
  #contact.section{
    padding-bottom: 1.5rem;
  }
 

  
  .contact__information {
    display: flex;
    align-items: flex-start;
    margin: 0.5rem 0;
    min-width: 0;
  }

  .contact__icon{
    font-size: 3rem;
    margin-right: 1rem;
    color: var(--color-title)
  }
  
  .contact__title {
    font-size:var(--font-size-title);
   
  }
  
  .contact__subtitle{
    font-size:var(--font-size-subtitle);

  }
  
  .social__link{
    display: inline-flex;
    font-size:var(--font-size-title);
    margin-top: 0.5rem;
  }
  .social__link li a{
    margin-right: 3rem;
    color:var(--color-main);
    font-size: 2rem;
}
.social__link li a:hover{
    color: var(--color-hover);
}



@media (max-width: 1024px) {
  .contact__block{
    grid-template-columns: repeat(1, 100%);
    justify-items: start;
  }
}

@media (max-width: 768px) {
  .contact__block{
    grid-template-columns: repeat(1, 100%);
    justify-items: center;
  }
}

  