.project__description{
    padding: 1rem;
}
.project__block{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project__description{
    width: 30%;
    display: flex;
    flex-direction: column;
   
}